name: Android CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Install Android SDK
      run: yes | sdkmanager --install "platforms;android-29" "build-tools;29.0.2"

    - name: Build with Gradle
      run: ./gradlew assembleBlackBox32Debug assembleBlackBox64Debug

    - name: Upload APKs
      uses: actions/upload-artifact@v4
      with:
        name: blackbox-apks
        path: |
          app/build/outputs/apk/BlackBox32/debug/*.apk
          app/build/outputs/apk/BlackBox64/debug/*.apk
